APP_URL="http://localhost:8000"
APP_PORT="8000"
APP_ENV="local"

REDIS_ADDR="127.0.0.1:6379"
REDIS_PASSWORD=""

CHAT_DOMAIN="http://localhost:8081"

SSH_HOST=127.0.0.1
SSH_PORT=5000
SSH_USER="root"
SSH_PASSWORD="password"

DB_USER="root"
DB_PASS=""
DB_HOST="localhost"
DB_PORT="3306"
DB_NAME="chat"

GEMINI_API_KEY=""

VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
VAPID_SUBJECT="mailto:user@domain.com"
