APP_PORT="8000"

DB_USER="root"
DB_PASS=""
DB_HOST="localhost"
DB_PORT="3306"
DB_NAME="chat"

GEMINI_API_KEY=""

CHAT_DOMAIN="http://localhost:3000"

VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
VAPID_SUBJECT="mailto:user@domain.com"
